<html>
   <head>
      <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>  
      <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
      <script src="/static/js/auth.js"></script>
      <script>
         firebase.auth().onAuthStateChanged(function(user) {
            if (!user) {
               alert("login to continue");
               window.location = '/';
            }
            else{
               var body = document.getElementsByTagName("body")[0].style.display = "block";
            } 
         });
      </script>
  </head>
   <body style="display: none;">
      <form class="form" id="myForm">  
        <input type="file" name="file" id="inpFile"/>  
        <input type="submit" value="Upload">  
    </form> 

    <input type="button" value="Signout" onclick="logout()">
   </body>
   <script type="text/javascript">
   function isValidFile(filename) {
      var parts = filename.split('.');
      var ext = parts[parts.length - 1];
      switch (ext.toLowerCase()) 
      {
         case 'txt':
            return true;
      }
      return false;
   }

         const myForm = document.getElementById('myForm');
         const inpFile = document.getElementById('inpFile');

         myForm.addEventListener('submit',(e)=>{
            e.preventDefault();
            const formData = new FormData();
            console.log(inpFile.files);
            console.log();
            if(inpFile.files.length == 0)
            {
               alert("Please upload a file!");
               return;
            }
            if(!isValidFile(inpFile.files[0].name)){
               alert("Please upload only txt files");
               return;
            }
            formData.append('inpFile',inpFile.files[0]);
            const url1 = 'http://localhost:5000/uploader';
            const url2 = 'http://localhost:5000/update';
            fetch(url1,{
               method:"post",
               body:formData
            })
            .then((resp)=> {
               console.log(resp.status);
               if(resp.status == 200){
                  alert("Success");
                  fetch(url2)
                  .then((resp)=>console.log(resp))
                  .catch((err)=>console.log(err));
               }
               else{
                  alert(resp.status + " : " + resp.statusText);
               }
               
            })
            .catch((err)=>console.log("Not Done"));
         })
   </script>
   
</html>


