<html>
   <body>
      <form id="mainForm">
         <!-- <p>Name <input type = "text" name = "userInput" /></p> -->
         <p>my name is Rohan Solsi studying in KJSCE LY Comps-A. was diagnosed with fever. medical certificate enclosed. grant me leave.</p><br>
         <hr>
         <p>name Rohan Solsi studying in KJSCE. roll no 1611005. was not able to come college on Tuesday. suffering from typhoid fever. accept medical application.</p><br>
         <div>
            <label>Phrases: </label>
            <textarea id="input" rows="4" cols="50" name="userInput"></textarea>
         </div>

         <p><input type = "button" onclick="submitForm()" value = "submit" /></p>
      </form>

      <div>
         <label>Output:</label>
      <textarea id="output" rows="10" cols="80">
      
      </textarea>
      </div>

      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value = "Upload Dataset"/>
      </form>   
   </body>
   <script type="text/javascript">
      async function submitForm() 
      {
         var form = document.getElementById("mainForm");
         var input = form.userInput.value;
         var url = 'http://localhost:8080/letter';
         req_body = {message : input};
         // console.log(req_body);
         const def = await fetch(url, {method: 'post',headers: { 'Content-Type':'application/json' }, body: JSON.stringify(req_body)});
         const jsonobj = await def.json();
         console.log(jsonobj);
         document.getElementById("output").innerHTML = jsonobj['sentences'];
      }
   </script>
   
</html>